adf/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"yearFolder": "@formatDateTime(pipeline().parameters.date, 'yyyy')",
							"monthFolder": "@formatDateTime(pipeline().parameters.date, 'MM')",
							"dayFolder": "@formatDateTime(pipeline().parameters.date, 'dd')"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('GetMetadataActivityName').output.childItems), 0)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "errorMessage",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorMessage",
								"value": "@concat('No files found in path for date: ', pipeline().parameters.date)"
							}
						}
					]
				}
			}
		],
		"variables": {
			"errorMessage": {
				"type": "String"
			}
		},
		"annotations": []
	}
}