adf/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"yearFolder": "@formatDateTime(pipeline().parameters.date, 'yyyy')",
							"monthFolder": "@formatDateTime(pipeline().parameters.date, 'MM')",
							"dayFolder": "@formatDateTime(pipeline().parameters.date, 'dd')"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get Metadata2').output.childItems), 0)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Error Message",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorMessage",
								"value": {
									"value": "@concat('No files found in path for date: ', pipeline().parameters.date)  ",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "TransformBronzeToSilver",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "TransformBronzeToSilver",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": {
										"value": "sparkpool01",
										"type": "Expression"
									},
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null,
								"baseParameters": {
									"date": "@pipeline().parameters.date"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseArtifacts1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"date": {
				"type": "string"
			}
		},
		"variables": {
			"errorMessage": {
				"type": "String"
			},
			"Error Message": {
				"type": "String"
			}
		},
		"annotations": []
	}
}